# Supabase → Project Settings → API
VITE_SUPABASE_URL=https://bwzvrigljewwyicbcwkf.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImJ3enZyaWdsamV3d3lpY2Jjd2tmIiwicm9sZSI6ImFub24iLCJpYXQiOjE3OTA3OTI2NDEsImV4cCI6MjEwNjM2ODY0MX0.RI5Q2bFOhoU-y3C28AMp00_kzyGIGF5n3DeJ5oaF8JQ
VITE_CONTACT_EMAIL=
